* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root {
  --primary-text-color: #2d313a;
  --secondary-text-color: #4a4e50;
  --icon-color: #c7a272;
  --primary-padding: 30px 150px;
  --bg-primary-color: #fefefe;
  --bg-secondary-color: #f2f0ea;
}

body {
  background-color: var(--bg-primary-color);
}

/* common classes */

.arrow-icon {
  margin-left: 5px;
  color: var(--icon-color);
}

.btn {
  display: block;
  width: fit-content;
  text-decoration: none;
  color: white;
  padding: 20px 40px;
  border-radius: 16px;
  background-color: var(--primary-text-color);
}

.heading {
  font-family: 'Times New Roman', Times, serif;
  color: var(--primary-text-color);
}

.desc {
  color: var(--secondary-text-color);
}

header {
  padding: var(--primary-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
header img {
  width: 100px;
}

header nav {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  gap: 10px;
}

header nav a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
  color: var(--secondary-text-color);
}

header i {
  color: var(--secondary-text-color);
  cursor: pointer;
}
img {
  width: 300px;
}

main {
  padding: var(--primary-padding);
}

/* hero section */

#hero-section {
  height: 500px;
  width: 100%;
  background-image: url(images/Photo.png);
  background-size: cover;
  background-position: center right;
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  gap: 30px;
}

#hero-section h1 {
  width: 40%;
  font-size: 56px;
}

#hero-section p {
  width: 40%;
}
/* #hero-section a {
  width: fit-content;
  text-decoration: none;
  color: white;
  padding: 20px 40px;
  border-radius: 16px;
  background-color: var(--primary-text-color);
} */
#hero-section a i {
  margin-left: 5px;
  color: var(--icon-color);
}

/* work section */

#work-section {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

#work-section .work-info {
  max-width: 250px;
  text-align: center;
}

#work-section .work-info p {
  margin-top: 10px;
  line-height: 25px;
}
#work-section .work-info a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 600;
}
#work-section .work-info a i {
  margin-left: 5px;
  color: var(--icon-color);
}

/* about us section */
#about-us-section {
  display: flex;
  margin-top: 100px;
  gap: 30px;
}
#about-us-section .content {
  flex-grow: 1;
  padding: 20px;
  padding-left: 50px;
}
#about-us-section .content h1 {
  width: 80%;
  font-size: 40px;
}
#about-us-section .content .desc {
  font-size: 14px;
  margin-top: 20px;
  width: 80%;
  text-align: justify;
}

#about-us-section .content .call {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}
#about-us-section .content .call span b {
  color: var(--primary-text-color);
}
#about-us-section .content .call span h5 {
  color: var(--secondary-text-color);
  font-weight: 400;
}

#about-us-section .content .call .icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--bg-secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-us-section .content .call .icon i {
  color: var(--icon-color);
}
#about-us-section img {
  min-width: 500px;
  height: 450px;
  object-fit: cover;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 20%;
}

#about-us-section .content .btn {
  margin-top: 30px;
}

/* .testimonial section */

#testimonials-section {
  margin-top: 100px;
  background-color: var(--bg-secondary-color);
  padding: 50px 30px;
  border-radius: 36px;
}
#testimonials-section .heading {
  width: 60%;
  text-align: center;
  font-size: 48px;
  margin: 0 auto;
}

#testimonials-section .testimonial-cards {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#testimonials-section .testimonial-cards .testimonial-card {
  min-width: 250px;
  background-color: var(--bg-primary-color);
  padding: 25px;
  border-radius: 20px;
}

#testimonials-section .testimonial-cards .testimonial-card .profile-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

#testimonials-section .testimonial-cards .testimonial-card img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
#testimonials-section .testimonial-cards .testimonial-card span {
  display: inline-flex;
  flex-direction: column;
}

#testimonials-section .testimonial-cards .testimonial-card span h5 {
  display: inline;
  font-weight: 400;
}

#testimonials-section .testimonial-cards .testimonial-card .desc {
  margin-top: 15px;
}

/* clients section */

#clients-section {
  padding: 20px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#clients-section img {
  width: 150px;
  height: 100px;
}

/* .project section */

#projects-section {
  margin-top: 100px;
}
#projects-section h1,
#projects-section p {
  text-align: center;
}
#projects-section h1 {
  font-size: 48px;
}
#projects-section p {
  width: 60%;
  margin: 0 auto;
  margin-top: 15px;
}

#projects-section .projects {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

#projects-section .projects .project {
}

#projects-section .projects .project img {
  width: 450px;
  height: 450px;
  border-top-right-radius: 80px;
  object-fit: cover;
  object-position: center;
}

#projects-section .projects .project .info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#projects-section .projects .project .info .desc {
  font-weight: 400;
}
#projects-section .projects .project .info .icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-secondary-color);
}

/* counter section */
#counter-section {
  width: 98.7vw;
  margin-top: 100px;
  margin-left: -150px;
  display: flex;
  background-color: var(--bg-secondary-color);
  padding: 50px 150px;
  justify-content: space-between;
}

#counter-section .v-divider {
  height: 100px;
  width: 1px;
  background-color: var(--icon-color);
}

#counter-section .number h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 64px;
  color: var(--icon-color);
  text-align: center;
}

#counter-section .number h3 {
  color: var(--secondary-text-color);
  font-weight: 400;
  text-align: center;
}

/* blog section */

#blog-section {
  margin-top: 100px;
}

#blog-section h1 {
  font-size: 48px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
#blog-section p {
  font-size: 18px;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
}

#blog-section .articles {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#blog-section .articles .article {
  border: 1px solid rgba(128, 128, 128, 0.382);
  padding: 15px;
  border-radius: 48px;
  max-width: 330px;
  cursor: pointer;
  position: relative;
}

#blog-section .articles .article:hover {
  background-color: var(--bg-secondary-color);
}

#blog-section .articles .article img {
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  object-fit: cover;
  width: 100%;
  height: 300px;
}

#blog-section .articles .article .info {
  margin-top: 15px;
}
#blog-section .articles .article .info h3 {
  width: 80%;
  font-size: 24px;
  color: var(--primary-text-color);
  font-family: 'Times New Roman', Times, serif;
}

#blog-section .articles .article .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#blog-section .articles .article .footer h4 {
  color: var(--primary-text-color);
  font-weight: 400;
}
#blog-section .articles .article .footer .icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-secondary-color);
}

#blog-section .label {
  border-radius: 12px;
  background-color: var(--bg-primary-color);
  padding: 10px;
  width: fit-content;
  border-bottom-left-radius: 0px;
  position: absolute;
  left: 25px;
  top: 270px;
}

/* contact section */

#contact-section {
  margin-top: 100px;
  background-color: var(--primary-text-color);
  border-radius: 36px;
  padding: 70px 30px;
  color: whitesmoke;
  text-align: center;
}

#contact-section h2 {
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
}

#contact-section p {
  margin-top: 10px;
}

#contact-section .btn {
  margin: 0 auto;
  margin-top: 20px;
  background-color: var(--icon-color);
}

#contact-section .btn i {
  color: var(--primary-text-color);
}

/* footer */

footer {
  margin-top: 100px;
  margin-bottom: 50px;
}
footer .footer-top {
  display: flex;
  justify-content: space-between;
  padding: var(--primary-padding);
}

footer .footer-top .website-info {
  max-width: 300px;
}
footer .footer-top .website-info img {
  width: 150px;
}

footer .footer-top .website-info p {
  margin-top: 10px;
  color: var(--secondary-text-color);
}
footer .footer-top .website-info .socials {
  margin-top: 30px;
}

footer .footer-top .website-info .socials i {
  margin-right: 25px;
  font-size: 18px;
  color: var(--secondary-text-color);
}

.pages-quick-links h4,
.services-quick-links h4,
.contact-quick-links h4 {
  color: var(--primary-text-color);
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
}

.pages-quick-links ul,
.services-quick-links ul {
  list-style: none;
}

.pages-quick-links a,
.services-quick-links a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.contact-quick-links {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-quick-links p {
  color: var(--secondary-text-color);
}

footer .footer-bottom {
  margin-top: 30px;
  text-align: center;
  color: var(--secondary-text-color);
}
