* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 30px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img {
  width: 100px;
}

header nav {
  margin-left: auto;
  margin-right: 30px;
  display: flex;
  gap: 10px;
}

header nav a {
  text-decoration: none;
  color: black;
  /* margin-right: 10px; */
}

img {
  width: 300px;
}
